baseDomain: example.com

kyvernoPolicies:
  observability:
    resourceName: "{{ request.object.metadata.name }}"
  preconditions:
    key: "{{ request.object.spec.gatewayClassName }}"

gatewayClasses:
  default:
    enabled: true
    name: giantswarm-default
    envoyProxy:
      enabled: true
      envoyDeployment: {}
      envoyService: {}
      envoyHpa: {}
      envoyPDB: {}
      envoyServiceAccount: {}

gateways:
  default:
    enabled: true
    name: giantswarm-default
    dnsName: gateway
    className: giantswarm-default
    overrideBaseDomain: ""
    provider:
      aws:
        useNetworkLoadBalancer: true
    service:
      annotations: {}
      labels: {}
      externalTrafficPolicy: ""
      loadBalancerClass: ""
    tlsIssuer:
      enabled: true
      name: letsencrypt-giantswarm-gateway
      email: accounts@giantswarm.io
      gateway: giantswarm-default
    listeners:
      http:
        name: http
        protocol: HTTP
        port: 80
        httpsRedirectEnabled: false
        allowedRoutes:
          namespaces:
            from: All
      https:
        name: https
        protocol: HTTPS
        hostname: '*.{{ $.Values.baseDomain }}'
        subdomains: []
        certificate:
          enabled: true
          issuer:
            kind: ""
            name: ""
        dnsEndpoints:
          enabled: true
          annotations:
            giantswarm.io/external-dns: managed
        port: 443
        allowedRoutes:
          namespaces:
            from: All
        tls:
          mode: Terminate
          certificateRefs: []
    envoyProxy:
      enabled: true
      shutdown: {}
      envoyDeployment:
        container:
          imageRepository: gsoci.azurecr.io/giantswarm/envoy
      envoyHpa:
        minReplicas: 2
        maxReplicas: 10
      envoyPDB:
        maxUnavailable: "25%"
      envoyServiceAccount: {}
