baseDomain: example.com

gatewayClasses:
  default:
    enabled: true
    name: giantswarm-default
    envoyProxy:
      enabled: true
      envoyDeployment:
        patch:
          type: StrategicMerge
          value:
            spec:
              template:
                spec:
                  containers:
                  - name: envoy
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                      readOnlyRootFilesystem: true
                  - name: shutdown-manager
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                      readOnlyRootFilesystem: true
                  securityContext:
                    runAsGroup: 65534
                    runAsNonRoot: true
                    runAsUser: 65534
                    seccompProfile:
                      type: RuntimeDefault
      envoyService: {}
      envoyHpa: {}
      envoyPDB: {}
      envoyServiceAccount: {}

gateways:
  default:
    enabled: true
    name: giantswarm-default
    dnsName: gateway
    className: giantswarm-default
    overrideBaseDomain: ""
    subdomains: []
    certificate:
      enabled: true
      issuer:
        kind: ""
        name: ""
    dnsEndpoints:
      enabled: true
    provider:
      aws:
        useNetworkLoadBalancer: true
    service:
      annotations: {}
      labels: {}
      externalTrafficPolicy: ""
      loadBalancerClass: ""
    tlsIssuer:
      enabled: true
      name: letsencrypt-giantswarm-gateway
      email: accounts@giantswarm.io
      gateway: giantswarm-default
    podMonitor:
      enabled: true
    listeners:
      http:
        name: http
        protocol: HTTP
        port: 80
        allowedRoutes:
          namespaces:
            from: All
      https:
        name: https
        protocol: HTTPS
        hostname: '*.{{ $.Values.baseDomain }}'
        port: 443
        allowedRoutes:
          namespaces:
            from: All
        tls:
          mode: Terminate
          certificateRefs: []
    envoyProxy:
      enabled: true
      shutdown: {}
      envoyDeployment:
        container:
          imageRepository: gsoci.azurecr.io/giantswarm/envoy
      envoyHpa:
        minReplicas: 2
        maxReplicas: 10
      envoyPDB:
        maxUnavailable: "25%"
      envoyServiceAccount: {}
