baseDomain: example.com

gatewayClasses:
  default:
    enabled: true
    name: giantswarm-default

gateways:
  default:
    enabled: true
    name: giantswarm-default
    dnsName: gateway
    className: giantswarm-default
    service:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: gateway.{{ $.Values.baseDomain }}
        giantswarm.io/external-dns: managed
    tlsIssuer:
      enabled: true
      name: letsencrypt-giantswarm-gateway
      email: accounts@giantswarm.io
      gateway: giantswarm-default
    certificate:
      enabled: true
      dnsNames: []
    listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      hostname: '*.{{ $.Values.baseDomain }}'
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
