baseDomain: example.com

gatewayClasses:
  default:
    enabled: true
    name: giantswarm-default
    envoyProxy:
      enabled: true
      envoyDeployment:
        container:
          imageRegistry: gsoci.azurecr.io/giantswarm/envoy

gateways:
  default:
    enabled: true
    name: giantswarm-default
    dnsName: gateway
    className: giantswarm-default
    overrideBaseDomain: ""
    subdomains: []
    certificate:
      enabled: true
      issuer:
        kind: ""
        name: ""
    dnsEndpoints:
      enabled: true
    service:
      annotations: {}
      labels: {}
    tlsIssuer:
      enabled: true
      name: letsencrypt-giantswarm-gateway
      email: accounts@giantswarm.io
      gateway: giantswarm-default
    podMonitor:
      enabled: true
    listeners:
      http:
        name: http
        protocol: HTTP
        port: 80
        allowedRoutes:
          namespaces:
            from: All
      https:
        name: https
        protocol: HTTPS
        hostname: '*.{{ $.Values.baseDomain }}'
        port: 443
        allowedRoutes:
          namespaces:
            from: All
        tls:
          mode: Terminate
          certificateRefs: []
    envoyProxy:
      enabled: true
      envoyDeployment: {}
