{{- define "gatewayClassEnvoyProxyValuesDefault" }}
envoyDeployment:
  patch:
    type: StrategicMerge
    value:
      spec:
        template:
          spec:
            containers:
            - name: envoy
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
            - name: shutdown-manager
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
            securityContext:
              runAsGroup: 65534
              runAsNonRoot: true
              runAsUser: 65534
              seccompProfile:
                type: RuntimeDefault
{{- end }}

{{- range $i, $class := .Values.gatewayClasses }}
{{- if and $class.enabled $class.envoyProxy.enabled }}
{{- $envoyProxyValues := (include "gatewayClassEnvoyProxyValuesDefault" $ ) | fromYaml -}}
{{- $customEnvoyProxyValues := $class.envoyProxy -}}
{{- if $customEnvoyProxyValues -}}
{{- $envoyProxyValues = mergeOverwrite $envoyProxyValues (deepCopy $customEnvoyProxyValues) -}}
{{- end -}}
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: gatewayclass-{{ $class.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "labels.common" $ | nindent 4 }}
spec:
  provider:
    type: Kubernetes
    kubernetes:
      {{- with $envoyProxyValues.envoyDeployment }}
      envoyDeployment:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $envoyProxyValues.envoyService }}
      envoyService:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $envoyProxyValues.envoyHpa }}
      envoyHpa:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $envoyProxyValues.envoyPDB }}
      envoyPDB:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $envoyProxyValues.envoyServiceAccount }}
      envoyServiceAccount:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}
