{{- range $i, $class := .Values.gatewayClasses }}
{{- if and $class.enabled $class.envoyProxy.enabled }}
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: gatewayclass-{{ $class.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "labels.common" $ | nindent 4 }}
spec:
  provider:
    type: Kubernetes
    kubernetes:
      {{- with $class.envoyProxy.envoyDeployment }}
      envoyDeployment:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $class.envoyProxy.envoyService }}
      envoyService:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $class.envoyProxy.envoyHpa }}
      envoyHpa:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $class.envoyProxy.envoyPDB }}
      envoyPDB:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $class.envoyProxy.envoyServiceAccount }}
      envoyServiceAccount:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}
