{{- range $i, $gateway := .Values.gateways }}
{{- if and $gateway.enabled $gateway.certificates.enabled }}
{{- range $j, $listener := $gateway.listeners }}
{{- if eq $listener.protocol "HTTPS" }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "gateway-%s-%s" $gateway.name $listener.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "labels.common" $ | nindent 4 }}
spec:
  dnsNames:
  - {{ printf "%s.%s" $gateway.dnsName (trimPrefix "*." (tpl ($gateway.overrideBaseDomain | default $listener.hostname) $)) | quote }}
  {{- range $k, $v := $listener.subdomains }}
  - {{ printf "%s.%s" $v (trimPrefix "*." (tpl ($gateway.overrideBaseDomain | default $listener.hostname) $)) | quote }}
  {{- end }}
  {{- if $gateway.tlsIssuer.enabled }}
  issuerRef:
    group: cert-manager.io
    kind: Issuer
    name: {{ $gateway.tlsIssuer.name }}
  {{- else }}
  issuerRef:
    group: cert-manager.io
    kind: {{ $gateway.certificates.issuer.kind }}
    name: {{ $gateway.certificates.issuer.name }}
  {{- end }}
  secretName: {{ printf "gateway-%s-%s-tls" $gateway.name $listener.name }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
