{{- range $i, $gateway := .Values.gateways }}
{{- if and $gateway.enabled }}
{{- if $gateway.podMonitor.enabled }}
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: generate-gateway-pod-monitors-{{ $gateway.name }}
spec:
  rules:
  - name: generate-gateway-pod-monitors
    match:
      any:
      - resources:
          kinds:
          - gateway.networking.k8s.io/v1/Gateway
    generate:
      synchronize: true
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      name: {{ $gateway.name }}
      namespace: {{ $.Release.Namespace }}
      data:
        metadata:
          labels:
            {{- include "labels.common" $ | nindent 12 }}
        spec:
          podMetricsEndpoints:
          - honorLabels: true
            interval: 60s
            metricRelabelings: []
            path: /stats/prometheus
            port: metrics
            relabelings:
            - action: replace
              replacement: ${1}
              sourceLabels:
              - __meta_kubernetes_pod_node_name
              targetLabel: node
          namespaceSelector:
            matchNames:
            - {{ $.Release.Namespace }}
          selector:
            matchLabels:
              app.kubernetes.io/component: proxy
              app.kubernetes.io/name: envoy
              gateway.envoyproxy.io/owning-gateway-name: {{ $gateway.name }}
{{- if $gateway.podLogs.enabled }}
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: generate-gateway-pod-logs-{{ $gateway.name }}
spec:
  rules:
  - name: generate-gateway-pod-logs
    match:
      any:
      - resources:
          kinds:
          - gateway.networking.k8s.io/v1/Gateway
    generate:
      synchronize: true
      apiVersion: monitoring.grafana.com/v1alpha2
      kind: PodLogs
      name: {{ $gateway.name }}
      namespace: {{ $.Release.Namespace }}
      data:
        metadata:
          labels:
            {{- include "labels.common" $ | nindent 12 }}
        spec:
          namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ $.Release.Namespace }}
          relabelings:
          # Configure tenant for data routing
          - action: replace
            replacement: giantswarm
            targetLabel: giantswarm_observability_tenant
          selector:
            matchLabels:
              app.kubernetes.io/component: proxy
              app.kubernetes.io/name: envoy
              gateway.envoyproxy.io/owning-gateway-name: {{ $gateway.name }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
