{{- range $i, $gateway := .Values.gateways }}
{{- if and $gateway.enabled }}
{{- range $j, $listener := $gateway.listeners }}
{{- if and $listener.certificate $listener.certificate.enabled (eq $listener.protocol "HTTPS") }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "gateway-%s-%s" $gateway.name $listener.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "labels.common" $ | nindent 4 }}
spec:
  dnsNames:
  {{- $baseDomain := (trimPrefix "*." (tpl ($gateway.overrideBaseDomain | default $listener.hostname) $)) -}}
  {{- if or (not (hasPrefix "*." $listener.hostname)) $listener.certificate.wildcard }}
  - {{ tpl $listener.hostname $ | quote }}
  {{- else }}
  {{- if eq $baseDomain $.Values.baseDomain }}
  - {{ printf "%s.%s" $gateway.dnsName $baseDomain | quote }}
  {{- end }}
  {{- end }}
  {{- range $k, $v := $listener.subdomains }}
  - {{ printf "%s.%s" $v $baseDomain | quote }}
  {{- end }}
  issuerRef:
    group: cert-manager.io
    kind: {{ dig "issuer" "kind" "" $listener.certificate | default "Issuer" }}
    name: {{ dig "issuer" "name" "" $listener.certificate | default (dig "tlsIssuer" "name" "" $gateway) }}
  secretName: {{ printf "gateway-%s-%s-tls" $gateway.name $listener.name }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
