{{- range $i, $gateway := .Values.gateways }}
{{- if $gateway.enabled }}
{{- if $gateway.listeners.http.httpsRedirectEnabled }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $gateway.name }}-tls-redirect
  namespace: {{ $.Release.Namespace }}
spec:
  parentRefs:
    - name: {{ $gateway.name }}
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
{{- end }}
{{- end }}
{{- end }}
